<div class="header">

  <nav class="menu">
    <div class="head">
      <img src="images/logo.png" alt="">
      <h3 class="name">{{username}} <br>({{roleName}})</h3>
    </div>


    <ul ng-show="showSupervisorMenu">
      <li id="toBeAssignedMenu" class="active"><a style="display: inline-block;" href="/#{{getPublicPages().toBeAssigned}}"><i class="material-icons">check_box</i>Asignaciones</a>
        <div class="badge-notification">{{notifications.assignedCount}}</div> <div class="badge-notification blue">{{notifications.pendingCount}}</div>
      </li>
      <li id="newAssociatedPotentialSupervisorMenu"><a  href="/#{{getPublicPages().newAssociatedPotential}}"><i class="material-icons">person_add</i>Cargar
        potencial asociado</a>  </li>
      <li id="promoterListMenu"><a href="/#{{getPublicPages().promoterList}}"><i class="material-icons">group</i>Listado de promotores</a>
      </li>
      <li style="display: none" id="logoutMenu"><a href="#"><i class="material-icons">assignment</i>Reportes</a></li>
      <li style="display: none" id="logoutMenu"><a href="#"><i class="material-icons">list</i>Motivos de eliminación</a></li>
      <li style="display: none" id="logoutMenu"><a href="#"><i class="material-icons">monetization_on</i>Cotización manual</a></li>
      <li id="logoutMenu"><a href="#" ng-click="logout()"><i class="material-icons">exit_to_app</i>Salir</a></li>
    </ul>

    <ul ng-show="showPromoterMenu">
      <li id="newAssociatedPotentialPromoterMenu"><a  href="/#{{getPublicPages().newAssociatedPotential}}"><i class="material-icons">person_add</i>Cargar
        potencial asociado</a> </li>
      <li id="assignedToPromoterMenu" class="active"><a style="display: inline-block;" href="/#{{getPublicPages().assignedToPromoter}}"><i class="material-icons">person_add</i>Asignados</a>
        <div class="badge-notification">{{notifications.pendingCount}}</div>
      </li>
      <li id="agendaMenu"><a href="/#{{getPublicPages().agenda}}"><i class="material-icons">event_note</i>Agenda</a></li>
      <li id="logoutMenu"><a href="#" ng-click="logout()"><i class="material-icons">exit_to_app</i>Salir</a></li>
    </ul>

    <ul ng-show="showDataEntryMenu">
      <li id="newAssociatedPotentialDataEntryMenu"><a href="/#{{getPublicPages().newAssociatedPotential}}"><i class="material-icons">person_add</i>Cargar
        potencial asociado</a></li>
      <li id="logoutMenu"><a href="#" ng-click="logout()"><i class="material-icons">exit_to_app</i>Salir</a></li>
    </ul>
  </nav>
  <button type="button" name="button" class="btn btn-menu btn-nav"><i class="material-icons">menu</i>
    <h3>{{page}}</h3></button>
  <button type="button" name="button" class="btn btn-menu btn-search"><i class="material-icons">arrow_back</i>
    <h3>Volver</h3></button>

  <button type="button" name="button" class="btn btn-menu btn-back blanco" style="display: none;"><i
    class="material-icons">arrow_back</i>
    <h3>Asignaciones</h3>
    <div class="ripple-container">
      <div class="ripple ripple-on ripple-out"
           style="left: 41px; top: 23px; background-color: rgba(0, 0, 0, 0.870588); transform: scale(26.625);"></div>
    </div>
  </button>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="search" ng-if="isSearchMenuVisible">
          <button type="button" name="button" ng-click="doLogin()" class="btn hidden-xs"><i class="material-icons">search</i>
          </button>
          <input type="text" ng-change="changeSearchText(searchText)" placeholder="Buscar" ng-model="searchText" class="hidden-xs">
          <input type="text" ng-change="changeSearchText(searchText)" placeholder="Buscar" ng-model="searchText" class="smart visible-xs">
        </form>
        <div class="filtros dropdown">
          <button ng-if="isFilterMenuVisible" type="button" name="button" class="btn btn-filter dropdown-toggle" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
            class="material-icons">more_vert</i>
            <div class="ripple-container"></div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a id="sin-agendar" href="#"><i class="material-icons">event_note</i>Sin agendar
              <div class="ripple-container"></div>
            </a></li>
            <li><a id="entrevistados" href="#"><i class="material-icons">assignment_turned_in</i>Agendados</a></li>
            <li><a id="cotizados" href="#"><i class="material-icons">monetization_on</i>Cotizados</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <button type="button" name="button" class="btn smart-search visible-xs"><i class="material-icons">search</i></button>
  <div class="user hidden-xs">
    <i class="material-icons">account_circle</i>
    <div class="name" >{{username}}</div>
  </div>
</div>
